/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, arial, sans-serif;
}

a {
color: #000000;
text-decoration:underline;
}

.pages {
  margin-top: 20px;
  margin-left: 40px;
}

.top-content p, .top-content a {
  margin: 20px 30px;
  font-size: 14px;
}

.index-page {
  margin: 30px;
}

.book-table {
  margin: 20px 0;
  font-size: 14px;
}

.book-table th {
  text-align: center;
}

.book-table td {
  padding : 5px 10px;
}

.new-form {
  margin: 10px 0;
}

.form-content {
  margin: 10px 0;
}

.bottom {
  margin: 10px 0;
}

.show-content, .link {
  display: flex;
}

.show-content {
  margin: 30px;
}

.show-content h4, .show-content p{
  padding: 5px;
}

.link {
  margin: 20px 0;
}

.link p {
  padding: 5px;
}

.edit-link {
  color: #C0C0C0;
}